html,
body{
    height: 100%;
}

.text-relevo-black{
    color: black;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5),
        2px -2px 0 rgba(255, 255, 255, 0.9);
}

.h-5{
    height: 5%;
}

.h-20{
    height: 20%;
}

.w-60px{
    width: 60px;
}

.fs-7{
    font-size: 0.8rem;
}

.img_prod{
    height: 50px;
    width:  50px;
}
